<!-- Footer -->
<footer class="page-footer font-small blue btm">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
  	   <%= @copyright%> 
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
